<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <!-- 부트 스트랩 적용 -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Transfer</title>
</head>
<body>
    <div class="container">
        <h1>==== Transfer =====</h1>
        <form method="post" action="/transfer">
            <div class="form-group">
                <label>받을 계정 명</label>
                <input type="text" class="form-control" name="to" value="getredpengio">
            </div>

            <div class="form-group">
                <label>토큰양</label>
                <input type="text" class="form-control" name="quantity" value="1.0000 EOS">
            </div>

            <div class="form-group">
                <label>메모</label>
                <input type="text" class="form-control" name="memo" value="test">
            </div>

            <button type="submit">Send</button>
            <button type="button" onclick="location.href='/'">Main</button>
        </form>
    </div>
</body>
</html>